/* header, h1
main, section, #version1, #version2
article, #article-version1, #article-version2
#article-version3, #article-version4, 
p */

:root {
  --dark-red: #6f1d1b;
  --light-brown: #57bb66;
  --dark-brown: #845134;
  --middle-brown: #99582a;
  --beige: #ffe6a7;
  --light-brown-font-size: 20px;
  --dark-brown-font-size: 30px;
  --light-brown-border: solid red 2px;
  --dark-brown-border: dotted blue 3px;
  --serif-font: "Times New Roman", Times, serif;
  --sans-serif-font: Arial, Helvetica, sans-serif;
}
header,
#article-version1,
#article-version3 {
  background-color: var(--light-brown);
  border: var(--light-brown-border);
}
#article-version2,
#article-version4 {
  background-color: var(--middle-brown);
  border: var(--dark-brown-border);
}
p {
  font-family: var(--sans-serif-font);
}
#article-version2 p,
#article-version4 p {
  font-size: var(--dark-brown-font-size);
  font-family: var(--serif-font);
}
